@import "tailwindcss";

* {
    box-sizing: border-box;
}

.hide-scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hide-scroll:hover::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}

.hide-scroll:hover::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 6px;
}

.hide-scroll:hover::-webkit-scrollbar-track {
    background-color: #f8f8f8;
}